<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title><%= title %></title>
</head>
<body>
    <header>
        <h1><%= title %></h1>
      </header>
      <section >
        <a href="/"><button id="home" >Back to Feed</button></a>
        <div class="new_user_container">
        <h2 class="new_user">New Post</h2>
        <form method="POST" action="/new">
            <div class="form_section">  
              <label for="messageUser">Name:</label>
              <input type="text" id="messageUser" name="messageUser" required>
            </div>
          
            <div class="form_section">  
              <label for="messageText">Text:</label>
              <textarea id="messageText" name="messageText" required></textarea>
            </div>
            <button type="submit" id="submit">Submit</button>
    
        </form>
        </div>
      </section>
      <footer>
        <p>Rodrigo Eusébio</p>
      </footer>
</body>
</html>